.app-header {
    height: 20vh;
    width: 100vw;

    display: flex;
}

.app-header .app-logo {
    height: 100px;
    pointer-events: none;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.app-body {
    height: 72.5vh;

    text-align: center;
    display: flex;
    justify-content: center;
}

.app-body h1 {
    font-family: Manrope Extra Bold;
    font-size: 8vw;
    text-align: center;

    width: 80vw;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
    .app-header {
        display: flex;
        justify-content: center;
    }

    .app-header .app-logo {
        height: 50px;

        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .app-body h1 {
        font-size: 40px;
    }
}