@font-face {
    font-family: 'Manrope';
    src: local('Manrope'), url(./Manrope-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope Light';
    src: local('Manrope Light'), url(./Manrope-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope Extra Light';
    src: local('Manrope Extra Light'), url(./Manrope-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope Medium';
    src: local('Manrope Medium'), url(./Manrope-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope Bold';
    src: local('Manrope Bold'), url(./Manrope-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope Semi Bold';
    src: local('Manrope Semi Bold'), url(./Manrope-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Manrope Extra Bold';
    src: local('Manrope Extra Bold'), url(./Manrope-ExtraBold.ttf) format('truetype');
}
